<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ipg.desporto24">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Andebol"
            android:label="@string/title_activity_andebol"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.desporto24.MainActivity" />
        </activity>
        <activity
            android:name=".Noticias"
            android:label="@string/title_activity_noticias"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.desporto24.MainActivity" />
        </activity>
        <activity
            android:name=".Hoquei"
            android:label="@string/title_activity_hoquei"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.desporto24.MainActivity" />
        </activity>
        <activity
            android:name=".Futsal"
            android:label="@string/title_activity_futsal"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.desporto24.MainActivity" />
        </activity>
        <activity
            android:name=".Tenis"
            android:label="@string/title_activity_tenis"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.desporto24.MainActivity" />
        </activity>
        <activity
            android:name=".Futebol"
            android:label="@string/title_activity_futebol"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.desporto24.MainActivity" />
        </activity>
        <activity
            android:name=".Main2Futebol"
            android:label="@string/title_activity_main2_futebol"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ipg.desporto24.MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>